<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Day04_Cookie</display-name>
  <servlet>
    <servlet-name>CookieDemo1</servlet-name>
    <servlet-class>Day04.demo1.CookieDemo1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CookieDemo2</servlet-name>
    <servlet-class>Day04.demo1.CookieDemo2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ClearServlet</servlet-name>
    <servlet-class>Day04.demo1.ClearServlet</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>CookieDemo1</servlet-name>
    <url-pattern>/servlet/demo1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieDemo2</servlet-name>
    <url-pattern>/aa/demo2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClearServlet</servlet-name>
    <url-pattern>/servlet/clear</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app> 